<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>

<section id = "home">
  <div class = "homeContainer">
    <div>
      <h2>Hello, My Name Is</h2>
      <h1>Raj Sathiyakumar</h1>
    </div>
    <img src="/Assets/images/r.png" class = image>
  </div>
  </section>

<%- include Partials/bottom_nav.ejs %>
<%- include Partials/footer.ejs %>